<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MTWWVTM');</script>
<!-- End Google Tag Manager -->

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Chef Mailer - Email De-Duplication Toolkit</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTWWVTM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Chef Mailer</a>
    </div>
  </nav>

  <%= yield %>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">What We Do</h5>
          <p class="grey-text text-lighten-4">We take your email list full of duplicates and clean it up for you!</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Tech Stack</h5>
          <ul>
            <li><a class="white-text" href="https://www.ruby-lang.org/en/">Ruby</a></li>
            <li><a class="white-text" href="http://www.sinatrarb.com/">Sinatra</a></li>
            <li><a class="white-text" href="http://materializecss.com/">MaterializeCSS</a></li>
            <li><a class="white-text" href="http://rspec.info/">RSpec</a></li>
            <li><a class="white-text" href="https://codeship.com/">Codeship</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://github.com/stujo">Stujo</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
